<% provide(:title, 'Text Tool') %>
<h2>On the list?</h2>
<p>Enter your text in the form below, press submit, and we'll show you which words aren't on the NGLS:</p>
<%= form_tag("/tools/report") do %>
<p><%= label_tag("Enter your text:") %></p>
<%= text_area_tag(:text, nil, rows: "20", cols: "100", placeholder: "Text goes here") %>
<%= submit_tag("Go!") %>
<% end %>